@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@using System.Globalization;
@model List<CultureInfo>
@{
    var applicationRequestContext = ApplicationRequestContext;
    var selectedLanguage = applicationRequestContext.SelectedCulture;
}
<ul class="multivendor-web-menu available-language-menu" data-set-language-url="@UrlUtility.Action(applicationRequestContext, "SetLanguage", "Home")">
    @foreach (var language in Model)
    {
        var className = selectedLanguage == language.Name ? "language-item selected" : "language-item";
        <li data-culture="@language.Name" class="@className ">@(@*language.Parent !=null ? language.Parent.NativeName :*@ language.NativeName)</li>
    }
</ul>