<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div id="main" name="text" class="main-layout abcd" data-skin-color="red">
       <ul class="tool-bar-item">
           <li>
               <div class= "search-container">
                   <input type="button" value="make-order" />
               </div> 
           </li>
           <li>
               <button>
                   click me
               </button>
           </li>
           <li>
               user
           </li>
           <li>
               header-logo
           </li>
           
       </ul>
    </div>
   
    <div>
        @RenderBody()
        
        
    </div>
    <footer>

    </footer>
</body>


</html>
