@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@using MultivendorWebViewer.Helpers;
@using MultivendorWebViewer.Components;
@using MultivendorWebViewer.DbMigrations;

@model ServerDatabaseMigrationDetail
@{
    ViewBag.Title = "Multivendor Web";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
<div style="padding-top:35px;">
    <div style="width:100%">
        <table>
            <tr>
                <td>
                    <h4> Database compatible </h4>
                </td>
                <td>
                    @Model.CurrentServerDatabaseCompatibleWithCurrentModel
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both">

    </div>

    <div style="clear:both">

    </div>
    <div style="width:100% ; padding-top:10px;">
        <table>
            <thead>
                <tr>
                    <th>Applied migration list</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AppliedMigrationNames)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="clear:both">

    </div>
    <div style="width:100%; padding-top:10px;">

        <table>
            <tr>
                <td>
                    <h4> Pending migrations  </h4>
                </td>
                <td>
                    @Model.PendingMigraitonNames.Count()
                </td>
            </tr>
        </table>

    </div>
    <div style="clear:both">

    </div>
    @if (@Model.PendingMigraitonNames.Count() > 0)
    {
        <div style="width:100%">
            <table>
                <thead>
                    <tr>
                        <th>Pending migration list</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PendingMigraitonNames)
                    {
                        <tr>
                            <td>
                                @item
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="clear:both">

        </div>
        <div>
            <table>
                <tr>
                    <td>
                        @if (@Model.EnableMigarationForDatabase == true)
                        {
                            <input type="submit" value="Update server database" class="btn-migrateserverdatabase medium-button" />
                        }
                        else
                        {
                            <input type="submit" disabled value="Update server database" class="btn-disabled medium-button" /> <br />
                            <label> "Migrations script not compitable" </label>
                        }

                    </td>
                    <td>
                        <div class="migration-progress">
                            <div class="add-progress-icon">

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div id="result" class="resultmessage"></div>
        </div>
    }
    else
    {
        <div>
            <table>
                <tr>
                    <td>
                        <input type="submit" disabled value="Update server database" class="btn-disabled action-submit-button" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>