@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;


@{
    ViewBag.Title = "Multivendor Web";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<div class="presentation category-view-container">

    <div class="main-body-contents">
       this is main body content
    </div>
</div>
