@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@using MultivendorWebViewer.Helpers;

@{
    ViewBag.Title = "Multivendor Web";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<div class="all-user-container">
    @Html.DataView(new DataViewOptions { Url = @Url.Action("GetOrderList", "Admin") }, htmlAttributes: new { @class = "user-list-data-view" })
</div>
