@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@using MultivendorWebViewer.Helpers;

@{
    ViewBag.Title = "Multivendor Web";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
<div class="page-header">
    <div class="name-container">
        <label class="name">@CustomStrings.UserList</label>
    </div>
</div>
<div class="admin-layout main-body-contents">
    <div class="all-user-container">
        @Html.DataView(new DataViewOptions { Url = @Url.Action("GetAllUserList", "Admin") }, htmlAttributes: new { @class = "multivendor-list-data-view" })
    </div>
</div>
