@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@model CategoryViewModel

@{
    ViewBag.Title = "Multivendor Web";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class=" category-container">
    <div class="name-container">
        <label>
            @Model.Nodes.FirstOrDefault().Identity
        </label>
    </div>
    <div class="description-container">
        <label>
            
        </label>

    </div>
</div>
