@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@*@model ProductViewModel*@

@{
    ViewBag.Title = "Multivendor Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var applicationrequestContext = ApplicationRequestContext.GetContext(Context);

    var headerLogoUrl = applicationrequestContext.Configuration.GetHeaderLogoUrl(applicationrequestContext, false);

}
<div class="login-container">
    <div class="login-content-container">
        <img class="img logo-image" src="@headerLogoUrl">
        <input class="user-name" />
        <input class="password" />
    </div>
</div>
