
@using MultivendorWebViewer.ViewModels;
@using MultivendorWebViewer.Common;
@{
    ViewBag.Title = "Multivendor Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="not-found">
    <label>
        @CustomStrings.InformationNotFound
    </label>
</div>
