<?xml version="1.0"?>
<ProfileSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<StartCatalogueId>1</StartCatalogueId>	
	<DataImageLocation>C:\Users\Administrator\Desktop\BDBusiness\trunk\Images</DataImageLocation>
	<HeaderLogo>header-logo.jpg</HeaderLogo>
	<HeaderLogoSmall>header-logo-small.jpg</HeaderLogoSmall>
	<LoginBackgroundImage>LoginBackground.jpg</LoginBackgroundImage>
	<AvailableLanguage>bn-BD,en-GB</AvailableLanguage>
	<PriceCurrency>BDT</PriceCurrency>
	<DisplayLocation>true</DisplayLocation>
	<DisplayContact>true</DisplayContact>
</ProfileSetting>
