<?xml version="1.0"?>
<ProfileSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<StartCatalogueId>2</StartCatalogueId>	
	<ImageLocation>C:\Users\Administrator\Desktop\BDBusiness\trunk\Images</ImageLocation>
	<HeaderLogo>digitalmarket.png</HeaderLogo>
</ProfileSettings>
