<?xml version="1.0" encoding="utf-8"?>
<ServerConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <UseManagerLogin>false</UseManagerLogin>

  <SqlServerDatabaseSettings>
    <PublishToSqlServerLogin>
      <UseSqlServerUser>false</UseSqlServerUser>
      <SqlServerUser>DHM#User</SqlServerUser>
      <SqlServerPassword>Login#123!@$</SqlServerPassword>
    </PublishToSqlServerLogin>
    <PublishToInstanceName>SHAFI05\SQLEXPRESS</PublishToInstanceName>
    <MountAtSqlServerLogin>
      <UseSqlServerUser>false</UseSqlServerUser>
      <SqlServerUser>DHM#User</SqlServerUser>
      <SqlServerPassword>Login#123!@$</SqlServerPassword>
    </MountAtSqlServerLogin>
    <MountAtInstanceName>SHAFI05\SQLEXPRESS</MountAtInstanceName>
    <DetachDatabaseTimeout>300</DetachDatabaseTimeout>
    <AttachDatabaseTimeout>60</AttachDatabaseTimeout>
    <DropDatabaseTimeout>300</DropDatabaseTimeout>
    <ShrinkDatabaseTimeout>300</ShrinkDatabaseTimeout>
    <PublisherCommandTimeout>300</PublisherCommandTimeout>
    <CommandTimeout>30</CommandTimeout>
    <MaxParallelPublisherThread>5</MaxParallelPublisherThread>
    <ChunkCount>2000</ChunkCount>
  </SqlServerDatabaseSettings>
  <ServerDatabase>
    <Enabled>true</Enabled>
    <DataBaseName>DHMWeb</DataBaseName>
    <DataBaseServer>SHAFI05\SQLEXPRESS</DataBaseServer>
    <UseSqlServerUser>false</UseSqlServerUser>
    <SqlServerUser>DHM#User</SqlServerUser>
    <SqlServerPassword>Login#123!@$</SqlServerPassword>
  </ServerDatabase>
  

  
  <SmtpClientSettings>
    <SenderEmail>afifanowshinjoya@gmail.com</SenderEmail>
    <Host>smtp.office365.com</Host>
    <Port>587</Port>
    <EnableSSL>true</EnableSSL>
    <UseDefaultCredentials>false</UseDefaultCredentials>
    <UseCredentials>true</UseCredentials>
    <UserName>afifanowshinjoya@gmail.com</UserName>
    <PassWord>finilAddabo</PassWord>
  </SmtpClientSettings>
  
  
  <RemoteArea>C:\MultivendorWeb</RemoteArea>
  <LogLevel>Verbose</LogLevel>
  <LogRequestTimeFilter>0</LogRequestTimeFilter>
  <LogDebugWrites>true</LogDebugWrites>
  <UseTruncation>false</UseTruncation>
  <SQLScriptsPath>C:\MultivendorWeb</SQLScriptsPath>
  <RepositorySearchTextBoxTypeDelayMilliSeconds>750</RepositorySearchTextBoxTypeDelayMilliSeconds>
  <AutoPartNumberSeriesList />
  <AddHashToImageFilesEnabled>false</AddHashToImageFilesEnabled>
</ServerConfiguration>