<?xml version="1.0" encoding="utf-8"?>
<ServerConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServerDatabase>
    <Enabled>true</Enabled>
    <DataBaseName>DHM#Server</DataBaseName>
    <DataBaseServer>SHAFI05\SQLEXPRESS</DataBaseServer>
    <UseSqlServerUser>false</UseSqlServerUser>
    <SqlServerUser>DHM#User</SqlServerUser>
    <SqlServerPassword>Login#123!@$</SqlServerPassword>
  </ServerDatabase>
  
  <SiteDatabase>
    <Enabled>true</Enabled>
    <DataBaseName>DHM#Web</DataBaseName>
    <DataBaseServer>SHAFI05\SQLEXPRESS</DataBaseServer>
    <UseSqlServerUser>false</UseSqlServerUser>
    <SqlServerUser>DHM#User</SqlServerUser>
    <SqlServerPassword>Login#123!@$</SqlServerPassword>
  </SiteDatabase>

  
  <SmtpClientSettings>
    <SenderEmail>afifanowshinjoya@gmail.com</SenderEmail>
    <Host>smtp.office365.com</Host>
    <Port>587</Port>
    <EnableSSL>true</EnableSSL>
    <UseDefaultCredentials>false</UseDefaultCredentials>
    <UseCredentials>true</UseCredentials>
    <UserName>afifanowshinjoya@gmail.com</UserName>
    <PassWord>finilAddabo</PassWord>
  </SmtpClientSettings>
  
</ServerConfiguration>